@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
.conteiner {
  background: linear-gradient(
    60deg,
    rgba(229, 26, 205, 0.76),
    #16db9d,
    rgba(245, 62, 12, 0.761),
    rgb(251, 240, 40),
    rgba(255, 0, 0, 0.565)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 90px;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 22px;
}
.fa-brands {
  transform: translateX(-80px);
  color: blue;
  font-size: 30px;
}
.fa-linkedin {
  color: rgb(0, 128, 255);
}
.fa-github {
  transform: translateX(-90px);
  color: white;
}
.fa-square-upwork {
  transform: translateX(-85px);
  color: green;
}
a:hover {
  background-color: rgb(34, 34, 34);
}
a:active {
  box-shadow: -4px 4px 10px rgb(78, 77, 77);
}
